<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>LQC Solutions</title>
  <link rel="icon" href="/icons/favicon.ico" type="image/x-icon" />
  <link rel="stylesheet" href="/style.css" />
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-HYR12B0NWT"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){ dataLayer.push(arguments); }
    gtag('js', new Date());
    gtag('config', 'G-HYR12B0NWT');
  </script>
</head>